.about-us__highligh-text {
	font-family: 'Rubik', sans-serif;
	color: #28283A;
	font-size: 34px;
	font-weight: 700;
	text-align: right;
}

.about-us-container {
	margin-top: 50px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.about-us__background {
	width: 50%;
	height: 50%;
	
	object-fit: cover;
}

.about-us {
	height: 100%;
	width: 100%;
}

.about-us__subtitle {
	text-align: left;
}

.about-us-bottom__sublitle {
	color: white;
	font-family: 'Lato', sans-serif;
	text-align: left;
	
}

.accordion-item {
	font-family: 'Lato', sans-serif;
	color: #66698c;
}

.accordion-button {
	font-size: 18px;
	font-weight: 700;
	font-family: 'Lato', sans-serif;
	color: var(--bs-black);
	background-color: var(--bs-white);
}

.about-us-bottom {
	flex-direction: row;
	position: relative;	
}

.about-us__text-button-container{
	display: flex;
	flex-direction: row;
	justify-content: space-between; 
	background-color: rgb(134, 187, 70);
	padding-left: 150px;
	padding-right: 200px;
	margin-top: 110px;
	margin-bottom: 110px;
	}
.background-image-greencountries{
	background-image: url(../img/aboutus/contactus_bg.webp);
	background-repeat: no-repeat;
	background-position: center center;
	position: absolute;
	background-attachment: fixed;
	background-size: cover;
	flex-basis: 100%;
	max-width: 1500px;
	width: 100%;
	padding-top: 350px;
	padding-bottom: 250px;
	background-position: 50% 50%;
}

@media (min-width: 770px) {
	.about-us {
	margin-left: 20px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: left;
	}
}
.about-us__title {
	text-align: left;
}

.about-us__up-title {
	text-align: left;
}

.about-us-bottom__title {
	color: #ffffff;
	font-size: 40px;
	font-family: Rubik, sans-serif;
	font-weight: 700;
	text-transform: none;
	text-decoration: none;

	

	
	
}
