.about-us__highligh-text {
	font-family: 'Rubik', sans-serif;
	color: #28283A;
	font-size: 34px;
	font-weight: 700;
	text-align: right;
}

.about-us-container {
	margin-top: 50px;
	/*display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;*/
}

.about-us__background {
	min-height: 192px;
	object-fit: cover;
}

.about-us {
	height: 100%;
	width: 100%;
	
}

.about-us__subtitle {
	text-align: left;
}

.about-us-bottom__sublitle {
	color: white;
	font-family: 'Lato', sans-serif;
	text-align: left;

}

.accordion-item {
	font-family: 'Lato', sans-serif;
	color: #66698c;
}

.accordion-button {
	font-size: 18px;
	font-weight: 700;
	font-family: 'Lato', sans-serif;
	color: var(--bs-black);
	background-color: var(--bs-white);
}

.about-us-bottom {
	flex-direction: row;
	position: relative;
}

.about-us__text-button-container {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	/*background-color: rgb(134, 187, 70);*/
	margin: 110px auto;
	padding: 0 20px;
}

.background-image-greencountries {
	background-image: url(../img/aboutus/contactus_bg.webp);
	background-repeat: no-repeat;
	position: absolute;
	background-attachment: fixed;
	background-size: cover;
	min-height: 500px;
	background-position: 50% 50%;
	width: 99%;
	max-width: 1900px;
}

@media (min-width: 320px) {
	.about-us-bottom {
		display: flex;
		flex-direction: row;
		justify-content: center;
		padding: 120px 40px 30px;
		overflow-x: auto;
	
}
}
.about-us__title {
	text-align: left;
}

.about-us__up-title {
	text-align: left;
}

.about-us-bottom__title {
	color: #ffffff;
	font-size: 30px;
	font-family: Rubik, sans-serif;
	font-weight: 700;
	text-transform: none;
	text-decoration: none;
}

@media (min-width: 640px) {
	.about-us-bottom {
		display: flex;
		flex-direction: column;
		justify-content: center;
	
}
.about-us-bottom__button {
	margin: 0px;
	padding: 10px 20px;
	max-width: 130px;
}
}

@media (min-width: 960px) {
.about-us-bottom {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	margin-top: -120px;
	margin-bottom: -70px;


}
.about-us-bottom__button {
margin: 0px;
padding: 10px 20px;
max-width: 130px;
}
.about-us-container {
	margin-top: 0px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}
.about-us__background {
	position: relative;
	z-index: 2;
        height: 520px;
        object-fit: none;
        object-position: 95% 50%;

}
.upper-title {
	text-align: left;
}
.about-us{
	z-index: 8;
	background-color: white;
	padding-left: 25px;

}
.about-us-bottom2 {
	display:flex;
	flex-direction: column;
	max-width: 670px;
	margin-left: -70px;
	

}

}
@media (min-width: 1350px) {
	.about-us-bottom {
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		margin-top: -180px;
		margin-bottom: -100px;
	
	
	}
	.about-us-bottom__button {
	margin: 0px;
	padding: 10px 20px;
	max-width: 130px;
	}
	.about-us-container {
		margin-top: 0px;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
	}
	.about-us__background {
		position: relative;
		z-index: 2;
			height: 520px;
			object-fit: none;
			object-position: 95% 50%;
	
	}
	.upper-title {
		text-align: left;
	}
	.about-us{
		z-index: 8;
		background-color: white;
		padding-left: 25px;
	
	}
	.about-us-bottom2 {
		display:flex;
		flex-direction: column;
		max-width: 670px;
		margin-left: -120px;
		margin-right: 350px;
		
	
	}
	
}

@media (min-width: 1920px) {
	.about-us-bottom {
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		margin-top: -180px;
		margin-bottom: -100px;
	
	
	}
	.about-us-bottom__button {
	margin: 0px;
	padding: 10px 20px;
	max-width: 130px;
	}
	.about-us-container {
		margin-top: 0px;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
	}
	.about-us__background {
		position: relative;
		z-index: 2;
			height: 520px;
			object-fit: none;
			object-position: 95% 50%;
	
	}
	.upper-title {
		text-align: left;
	}
	.about-us{
		z-index: 8;
		background-color: white;
		padding-left: 100px;
		max-width: 900px;
		padding-right: 200px;
	}
	.about-us-bottom2 {
		display:flex;
		flex-direction: column;
		max-width: 670px;
		margin-left: -120px;
		margin-right: 350px;
		
	
	}
}