@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

/* #region clear bootstrap auto containers*/
.container,
.container-fluid,
.container-lg,
.container-md,
.container-sm,
.container-xl,
.container-xxl {
	--bs-gutter-x: 0rem;
	--bs-gutter-y: 0;
	width: 100%;
	padding-right: 0;
	padding-left: 0;
	margin-right: 0;
	margin-left: 0;
}

@media (min-width: 576px) {

	.container,
	.container-sm {
		max-width: 1920px;
	}
}

@media (min-width: 768px) {

	.container,
	.container-md,
	.container-sm {
		max-width: 1920px;
	}
}

@media (min-width: 992px) {

	.container,
	.container-lg,
	.container-md,
	.container-sm {
		max-width: 1920px;
	}
}

@media (min-width: 1200px) {

	.container,
	.container-lg,
	.container-md,
	.container-sm,
	.container-xl {
		max-width: 19200px;
	}
}

@media (min-width: 1400px) {

	.container,
	.container-lg,
	.container-md,
	.container-sm,
	.container-xl,
	.container-xxl {
		max-width: 1920px;
	}
}

/* #endregion clear bootstrap auto containers*/

.container {
	max-width: 1920px;
	margin: auto;
	/*overflow-x: hidden;*/
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: 1px solid red;
}

:root {
	font-family: 'Lato', sans-serif;
	--main-text-color: black;
	--bg-color: #ffffff;
	scroll-behavior: smooth;
}

h2,
h3 {
	font-family: 'Rubik', sans-serif;
}

img {
	display: block;
	width: 100%;
}

p {
	color: #66698c;
	line-height: 28.9px;
	font-family: 'Lato', sans-serif;
	font-size: 17px;
	font-weight: 400;
	text-align: left;
}

.upper-title {
	color: #86bb46;
	margin: 0px;
	padding: 0px 100px 0px 100px;
	font-family: Lato, sans-serif;
	font-size: 12px;
	font-weight: 700;
	letter-spacing: 0.36px;
	line-height: 21.84px;
	text-align: center;
	text-transform: none;
}

.title {
	color: #28283a;
	font-size: 44px;
	font-family: Rubik, sans-serif;
	font-weight: 700;
	text-transform: none;
	text-decoration: none;
	text-align: center;
	margin: 25px 0px 25px 0px;
	line-height: 1.2;
	text-align: center;
	word-break: break-word;
}

.title2 {
	color: #ffffff;
	font-size: 37px;
	font-family: Rubik, sans-serif;
	font-weight: 700;
	text-transform: none;
	text-decoration: none;
	padding: 110px 40px 0px 0px;
	margin: 110px 0px 25px 0px;
	line-height: 1.2;
	word-break: break-word;
}

.subtitle {
	font-size: 19px;
	text-align: center;
	word-break: break-word;
	text-transform: none;
}

.slide__title {
	padding-top: 15px;
	font-family: Rubik, sans-serif;
	font-size: 23px;
	font-weight: 700;
	letter-spacing: 0;
	line-height: 20px;
	text-align: center;
	text-transform: none;
	margin-top: 20px;
}