.contact-us {
	background-color: #F8FAFB;
	min-width: 310px;
	padding: 90px 24px 30px;
	box-sizing: border-box;
}

.contats__info {
	text-align: left;
}

.contacts__big-title {
	font-size: 34px;
	font-weight: 700;
	text-align: left;
}

.contacts__subtitle {
	text-align: left;
}

.contacts__title {
	font-size: 22px;
	text-align: left;
}

.contacts__form {
	background-color: #ffffff;
	padding: 20px 0;
}

.contacts__form-field {
	display: block;
	background-color: #F8FAFB;
	margin: 24px auto;
	padding: 20px 30px;
	width: 80%;
	border-radius: 5px;
	border: 0px;
	font-family: 'Lato', sans-serif;
	font-size: 12px;
	font-weight: 400;
	color: #28283a;
}

textarea[name="message"] {
	height: 150px;

}

.valid:focus {
	outline: 2px solid #3b99fc;
}

.errorField {
	outline: 2px solid red;
}

.errorField:focus {
	outline: 2px solid red;
}

.contacts__form-button {
	display: block;
	margin: 56px auto;
	padding: 20px 30px;
	width: 80%;
	background-color: #ffffff;
}


@media (min-width: 770px) {
	.contact-us {
		display: flex;
		flex-direction: row;
		justify-content: center;
		padding: 120px 40px 30px;
	}

	.contacts__big-title {
		font-size: 44px;
	}

	.contacts__title {
		font-size: 23px;
	}

	.contacts-form {
		margin-top: 20px;
	}

	.contacts__info {
		padding-bottom: 0;
	}

	.contacts__form-field {
		padding: 20px 30px;
	}

	.contacts__info__section {
		display: flex;
	}

	.contacts__info__section .title {
		margin: 0;
	}

	.contacts__info__section-head {
		flex: 1;
		vertical-align: center;
		padding: 8px 15px 8px 0;
	}

	.contacts__info__section-body {
		flex: 3;
		float: right;
	}

	.contacts__info__section-body p {
		margin: 0;
	}

}

.contacts__info-block {
	padding: 20px 0;
}

.contacts__info__section {
	padding: 10px 0;
}

.contacts__info {
	flex: 1;
}

.contacts__form {
	flex: 1;
}

.contacts__map>iframe {
	display: block;
	width: 100%;
	height: 287px;
}