.contact-us {
	background-color: #F8FAFB;
	min-width: 340px;
	padding: 90px 24px 30px;
	box-sizing: border-box;
}

.contats__info {	
	text-align: left;
}

.contacts__big-title {
	font-size: 34px;
	font-weight: 700;
	text-align: left;
}

.contacts__subtitle {
	text-align: left;
}

.contacts__title {
	font-size: 22px;
	text-align: left;
}

.contacts__form {
	background-color: #ffffff;
	padding: 20px 0;
}

.contacts__form-field{
	display: block;
	background-color: #F8FAFB;
	margin: 24px auto;
	padding: 20px 30px;
	width: 90%;
	border-radius: 5px;
	border: 0px;
	font-family: 'Lato', sans-serif;
	font-size: 12px;
	font-weight: 400;
	color: #28283a;
}

.contacts__form-field:focus {
	outline: 2px solid #3b99fc;
}

.contacts__form-button {
	display: block;
	margin: 56px auto;
	padding: 20px 30px;
	width: 90%;
	background-color: #ffffff;
}


@media (min-width: 770px)
{
    .contact-us {
        margin-left: 20px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin: 0 40px;
    }
}

.contacts__info {
	flex: 1;
}

.contacts__form {
	flex: 1;
}