.header__container {
	max-width: 1440px;
}

.request {
	border: solid;
	border-color: #86bb46;
	border-radius: 5px;
}

.request:hover {
	background-color: #86bb46;
}

.cutting-edge-solutions {
	display: flex;
	flex-direction: column;
	justify-content: center;
	position: relative;
	text-align: center;
	padding: 10px;
	background-color: white;
	margin-left: 100px;
	margin-top: 30px;
	border: inherit;
	height: 300px;
	width: 600px;
	align-items: center;
	border-radius: 5px;
}

.cutting_title {
	color: black;
	font-size: 48px;
	align-items: center;
	line-height: 1.0;
}

.background-image-windmill {
	background-image: url(../img/header/windmill-bg.png);
	background-repeat: no-repeat;
	background-position: center center;
	position: absolute;
	background-attachment: fixed;
	background-size: cover;
	flex-basis: 100%;
	max-width: 1915px;
	width: 310px;
	padding-top: 350px;
	padding-bottom: 250px;
	background-position: 50% 50%;
}

.what-we-offer {
	background-color: #86bb46;
	border-radius: 5px;
	border: none;
	padding: 5px;
	justify-content: center;
}

.what-we-offer:hover {
	background-color: #495057;

}

.greenwind-decoration {
	color: #86bb46;
}

.cutting_upper-title {
	color: #86bb46;
	font-size: 16px;
}

.cutting_info {
	color: black;
	font-size: 16px;
	letter-spacing: 0.24px;
}

@media (max-width:768px) {
	.cutting-edge-solutions {
		margin-top: 100px;
		margin-right: 100px;
		width: auto;
		justify-content: center;
		align-items: center;
	}

	.request {
		border: solid;
		border-color: #86bb46;
		border-radius: 5px;
		width: 150px;
	}
}

@media (max-width:425px) {
	.cutting-edge-solutions {
		width: 320px;
		margin: auto;
		margin-top: 20px;
	}
}

@media (max-width:320px) {
	.cutting-edge-solutions {
		width: 300px;
		margin: auto;
		height: 330px;
		margin-top: 20px;
		margin-left: 10px;
	}

	.request {
		border: solid;
		border-color: #86bb46;
		border-radius: 5px;
		width: 150px;
	}
}

@media(max-width:375px) {
	.cutting-edge-solutions {
		width: 300px;
		margin: auto;
		height: 330px;
		padding: -10px;
		margin-top: 20px;
		margin-left: 10px;
	}

	.request {
		border: solid;
		border-color: #86bb46;
		border-radius: 5px;
		width: 150px;
	}
}

.nav-hover:hover {
	color: #86bb46;
}

@media (min-width: 320px) {
	.background-image-windmill {
		width: 99%;
	}
}