.footer__background {
	padding-top: 300px;
	padding-bottom: 150px;
	background-image: url(../img/footer/dark-mountain-windmills.webp);
	background-size: cover;
	background-position: 50% 50%;
}

.footer__container {
	background-color: #28283a;
	padding: 20px 30px;
	font-size: 17px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.footer__container {
	border-bottom: 1px solid #66698c;
	padding: 20px 0px;
}

.footer_logo {
	width: 200px;
	height: 60px;
	margin-bottom: 20px;
}

.footer__navigation-bar {
	width: 300px;
	display: flex;
	flex-direction: row;
	padding: 0px;
	justify-content: space-between;
}

.footer__navigation-links {
	display: flex;
	flex-direction: column;
}


.footer__navigation-bar .footer__navigation-links>a {

	color: #fff;
	border: 0;
	padding: 5px 0px;
	text-align: left;
	text-decoration: none;
	font-family: 'Lato', sans-serif;

}

.footer-copyright {
	background-color: #28283a;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding: 20px 0px;
	font-size: 16px;
}

.footer-copyright>div>p {
	color: #9f9f9f;
}

.footer-copyright>div>p>a {
	color: #9f9f9f;
	text-decoration: none;
}


.footer__follow-us {
	background-color: #28283a;
	width: 200px;
	padding: 0px 50px;
}

.footer__follow-us>p {
	color: #fff;
}

.footer__follow-us>div>a {
	color: #fff;
	border: 0;
	padding: 10px 20px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-family: 'Lato', sans-serif;

}


.footer__subscribe {
	width: 200px;
	align-items: flex-end;
	text-align: left;
	justify-content: space-between;
}



.footer__subscribe>p {
	color: #fff;
}

.footer__logo-text>p {
	color: #fff;
	font-size: 16px;
	width: 210px;
	word-wrap: break-word;
}

.main-footer {
	background-color: #28283a;
	padding: 0px 170px;

}

.footer__form-field {
	width: 190px;
	height: 50px;
	border-color: #f8fafb;
	background-color: rgba(255, 255, 255, 0.15);
	color: grey;
	font-weight: bold;
	margin: 25px 0px 0px 0px;
	padding: 10px 60px 10px 20px;
}

.footer__button {
	font-family: 'Rubik', sans-serif;
	font-size: 12px;
	font-weight: 700;
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	margin: 25px 0px 0px 0px;
	padding: 10px 45px;
	display: inline-block;
	border-radius: 5px;
	background-color: rgb(134, 187, 70);
	border: 2px solid rgb(134, 187, 70);
	letter-spacing: 0.24px;
	transition: 0.5s;
}

.footer__button:hover {
	font-family: 'Rubik', sans-serif;
	background-color: #fff;
	color: rgb(89, 90, 113);
	transition: 0.5s;
}

.footer__socials {
	display: flex;
	flex-direction: row;
	gap: 10px;
	padding-left: 0;
}

.footer__socials>li {
	list-style-type: none;
	background-color: #fff;
	border-radius: 20%;
	min-width: 30px;
	min-height: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.fa-facebook-f:before {
	content: "\f39e";
	color: #222;
}

.footer__socials>li:hover {
	background-color: rgb(134, 187, 70);
}


.fa-instagram:before {
	content: "\f16d";
	color: #222;
}

.fa-youtube:before {
	content: "\f167";
	color: #222;
}

.fab {
	font-family: "Font Awesome 5 Brands";
	display: inline-block;
	font-style: normal;
}

@font-face {
	font-family: "Font Awesome 5 Brands";
	src: url(https://ka-f.fontawesome.com/releases/v5.15.4/webfonts/free-fa-brands-400.eot?#iefix) format("embedded-opentype"), url(https://ka-f.fontawesome.com/releases/v5.15.4/webfonts/free-fa-brands-400.woff2) format("woff2"), url(https://ka-f.fontawesome.com/releases/v5.15.4/webfonts/free-fa-brands-400.woff) format("woff"), url(https://ka-f.fontawesome.com/releases/v5.15.4/webfonts/free-fa-brands-400.ttf) format("truetype"), url(https://ka-f.fontawesome.com/releases/v5.15.4/webfonts/free-fa-brands-400.svg#fontawesome) format("svg")
}


@media only screen and (min-width: 640px) and (max-width: 960px) {}

@media only screen and (min-width: 320px) and (max-width: 640px) {

	.main-footer {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		height: 100%;
		width: auto;
		padding: 0px 140px;
	}

	.footer__container {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		height: 100%;
		width: auto;
	}

	.footer__logo-text>p {
		text-align: center;
		width: 250px;
		margin: 0px 10px;
		padding: 30px 0px;
	}

	.footer__navigation-bar {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		height: 100%;
		width: auto;
	}

	.footer__navigation-links {
		padding-bottom: 30px;
	}

	.footer__navigation-bar .footer__navigation-links>a {
		text-align: center;
	}

	.footer__follow-us>p {
		text-align: center;
	}

	.footer__socials {
		padding: 0px;
		display: flex;
		justify-content: center;
	}

	.footer__subscribe>p {
		text-align: center;
		padding: 20px 0px;
	}

	.footer-copyright {
		justify-content: center;
		align-items: center;
		display: flex;
		flex-direction: column;
		width: 300px;
	}

	.footer__form {
		padding: 0px 10px;
	}

	.footer-copyright>div>p {
		text-align: center;
	}

	.footer_logo {
		width: 255px;
		height: 80px;
		margin-bottom: 20px;
	}
}