.our-services__highligh-text {
	font-family: 'Rubik', sans-serif;
	color: #28283A;
	font-size: 34px;
	font-weight: 700;
	text-align: left;
}

.our-services__list-item {
	color: #66698C;
	font-size: 17px;
	font-weight: 400;

}

.our-services__title {
	text-transform: uppercase;
}

.our-services__highligh-text {}

.our-services__image-container {
	max-width: 570px;
}