.our-services__list {
    list-style-type: none;
    padding: 0;
}

.our-services__list-item {
    color: #66698C;
    font-size: 17px;
    font-weight: 400;
    padding: 10px 0;

}

.our-services__title {
    text-transform: uppercase;
    padding: 0;
    text-align: left;
}

.our-services__title-lower {
    text-align: left;
}

.our-services__image-container {
    max-width: 570px;
}

.list-checkmark {
    width: 24px;
    display: inline;
    margin-right: 10px;
}

.our-services {
    margin-left: 20px;
	 display: flex;
	 flex-direction: row;
	 justify-content: center;
	 align-items: center;
}

.our-services__info{
	flex-direction: column;
	justify-content: left;
	align-items: left;
	text-align: left;

}

.our-services__link a{
    display: inline-block;
}