.team {
	box-sizing: border-box;
	text-align: center;
	margin: 0;
	padding: 50px 25px 50px 25px;
}

.team__tex {
	display: flex;
	flex-direction: column;
	text-align: center;
}

.team__description {
	word-break: break-word;
	text-align: center;
}

.team__carousel {
	margin-top: 45px;
	margin-bottom: 45px;
	display: flex;
	flex-direction: column;
}

.team__carousel-slide {
	margin: 20px;
	padding: 0;
	display: flex;
	flex-direction: column;
}

.card__img {
	object-fit: cover;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}

.card__title {
	margin-top: 20px;
}

.card__experience {
	margin-top: 20px;
	text-align: center;
}

.btn {
	margin-top: 20px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	text-align: center;
}

.btn__link {
	margin: 0 5px 0 5px;
	padding: auto;
	background-color: #86bb46;
	cursor: pointer;
}

@media (min-width: 414px) {
	.team__carousel {
		margin-top: 40px;
		margin-bottom: 40px;
		display: grid;
		grid-template-columns: 1fr 1fr;
		justify-content: center;
	}
}

@media (min-width: 850px) {
	.team__carousel {
		margin-top: 40px;
		margin-bottom: 40px;
		display: flex;
		flex-direction: row;
		justify-content: center;
	}
}

@media (min-width: 414px) {
	.team__carousel-slide {
		margin-top: 0px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		text-align: center;
	}
}

.slider__conteiner {
	position: relative;
	margin: auto;
	padding: 25px;
}

.carousel__prev,
.carousel__next {
	border: none;
	margin: auto;
	padding: 0 2px 0 2px;
	width: 5vw;
	height: 100%;
	position: absolute;
	top: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #fff 100%);
	cursor: pointer;
	z-index: 8;
}

.carousel__prev {
	left: 0;
}

.carousel__next {
	right: 0;
}

.carousel__prev img,
.carousel__next img {
	opacity: 0.2;
}

.carousel__prev:hover img,
.carousel__next:hover img {
	opacity: 1;
}

.partners__carousel {
	display: flex;
	flex-direction: row;
	transition-duration: .2s;
	transform: translateX(-500px);
}

.partners__carousel-img {
	width: 100%;
}
@media (min-width: 414px) {
.carousel__prev,
.carousel__next {
	border: none;
	margin: auto;
	padding: 0 2px 0 2px;
	width: 2vw;
	height: 100%;
	position: absolute;
	top: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #fff 100%);
	cursor: pointer;
	z-index: 8;
}
}