.testimonials__title {
	margin-bottom: 25px;
	margin-top: 15px;
}

.testimonials__subtitle {
	margin-bottom: 70px;
}

.testimonials__description {
	text-align: center;
	margin: auto;
	padding: 20px 35px 0px 35px;
	flex-grow: 1;
	max-height: 310px;
	overflow: hidden;
}

.testimonials__image {
	width: 120px;
	height: 120px;
	object-fit: cover;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0px;
	margin-bottom: 0px;
	border-radius: 50%;
}

.testimonials__date {
	text-align: center;
	font-weight: bold;
	font-size: 16px;
}

.testimonials__position {
	text-align: center;
	font-size: 16px;

}

.swiper {
	width: 100%;
	height: 100%;
	max-width: 1040px;
	--swiper-theme-color: grey;
	margin-bottom: 100px;
}

.swiper-wrapper {
	height: 600px;
	padding-bottom: 40px;
}

.swiper-slide {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	background-color: #f8fafb;
	padding: 20px;
}

.swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
	margin: 10px;
}

.swiper-horizontal>.swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal {
	bottom: -10px;
}